<ion-view view-title="Wind Speed Converter">
  <ion-content>

    <div class="list">

      <clearing-input external-value="ConverterCtrl.mps"
                      unit="m/s"
                      convert-function="ConverterCtrl.convert('mps')">
      </clearing-input>
      <clearing-input external-value="ConverterCtrl.bft"
                      unit="bft"
                      convert-function="ConverterCtrl.convert('bft')">
      </clearing-input>
      <clearing-input external-value="ConverterCtrl.kts"
                      unit="kts"
                      convert-function="ConverterCtrl.convert('kts')">
      </clearing-input>
      <clearing-input external-value="ConverterCtrl.kph"
                      unit="km/h"
                      convert-function="ConverterCtrl.convert('kph')">
      </clearing-input>
      <clearing-input external-value="ConverterCtrl.mph"
                      unit="mph"
                      convert-function="ConverterCtrl.convert('mph')">
      </clearing-input>

      <label>
        <h4 style="text-align:center">{{ConverterCtrl.getDescription()}}</h4>
      </label>
    </div>

  </ion-content>
</ion-view>
