<ion-view view-title="Wind Speed Converter">
  <ion-content>

    <div class="list">
      <label class="row item item-input">
        <span class="col col-30" style="border: none"></span>
        <input class="col col-20 col-offset-30" type="tel" maxlength="3" style="text-align: center">
        <span class="col col-20 input-label" style="text-align: center">m/s</span>
        <span class="col col-30" style="border: none"></span>
      </label>
      <label class="row item item-input">
        <span class="col col-30"></span>
        <input class="col col-20 col-offset-30" type="tel" maxlength="3" style="text-align: center">
        <span class="col col-20 input-label" style="text-align: center">kts</span>
        <span class="col col-30"></span>
      </label>
    </div>

    <!--<div class="row">-->
    <!--<div class="col col-25 col-offset-25" style="text-align: center; border: 1px solid black">.col</div>-->
    <!--<div class="col col-25 " style="text-align: center; border: 1px solid black">.col</div>-->
    <!--</div>-->

  </ion-content>
</ion-view>
