<ion-view view-title="Description">
  <ion-content>
    <!--<div class="card">-->
      <div class="item item-text-wrap">
        The currently specified wind described according to the Beaufort Scale
      </div>
    <!--</div>-->

    <div class="card">
      <div class="item item-divider item-positive">"{{DescriptionCtrl.description.label}}" on <strong>Water</strong>
      </div>
      <div class="item item-text-wrap">{{DescriptionCtrl.description.onWater}}</div>
    </div>

    <div class="card">
      <div class="item item-divider item-balanced">"{{DescriptionCtrl.description.label}}" on <strong>Land</strong>
      </div>
      <div class="item item-text-wrap">{{DescriptionCtrl.description.onLand}}</div>
    </div>
  </ion-content>
</ion-view>
