<ion-view view-title="Description">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">The wind speed currently specified in the converter is described by the Beaufort
        Scale as follows
      </div>
    </div>

    <div class="card">
      <div class="item item-divider item-balanced">On Land</div>
      <div class="item">bla bla bla</div>
    </div>

    <div class="card">
      <div class="item item-divider item-positive">On Water</div>
      <div class="item">bla bla bla</div>
    </div>
  </ion-content>
</ion-view>
