<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Converter Tab -->
  <ion-tab title="Converter" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer"
           href="#/tab/converter">
    <ion-nav-view name="tab-converter"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="Description" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/description">
    <ion-nav-view name="tab-description"></ion-nav-view>
  </ion-tab>

</ion-tabs>
